body{background-color: white;}

.con{display:grid;
grid-template-columns:2fr 1fr;
grid-template-rows: minmax(200px;auto); }
.exp{display:grid;
grid-template-columns:1fr 1fr;
grid-template-rows: minmax(100px;auto);